body {
    padding: 30px 150px;
}
.card-view {
    margin-top: 20px;
    background: #007bff;
}
.text-muted {
    height: 20px;
    align-items: flex-start;
}
.text-muted i {
    font-size: 21px;
    color: #007bff;
    margin-right: 10px;
}
.text-muted i:nth-child(2) {
    font-size: 22px;
}
.text-muted button {
    float: right;
    font-size: 16px;
}
.card-deck {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0ch;
}.card-deck {
    margin: 8px 0px;
}
.card-deck .card {
    margin: 8px;
}
.card img {
    width: 100%;
}
.sign {
    display: flex;
    justify-content: space-between;
}
.sign input{
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-bottom: 10px;
}
.sign select, option {
    border: none;
    outline: none;
    padding: 5px 0px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.card img {
    width: auto;
    height: 350px;
    display: block;
    object-fit: cover;
}
#lorem {
    display: none;
}
.card-footer form {
    position: relative;
}
.card-footer #chec {
    display: none;
}
.comment {
    top: 24px;
    width: 280px;
    left: 85px;
    display: flex;
    visibility: hidden;
    position: absolute;
    border-radius: 0.25rem;
    background-color: white;
    transition: all .4s ease;
    opacity: 0;
}
.comment input {
    outline: none;
}
/* .card-footer form #chec[type = 'checkbox']:checked ~ .comment{ */
.card-footer:hover .comment{
    top: 12px;
    left: 85px;
    visibility: visible;
    opacity: 1;
}
.card-footer #chec[type = 'checkbox']:checked ~ button{
    display: none;
}
form {
    padding-bottom: 40px;
}