body {
    padding: 30px 150px;
}
.card-view {
    margin-top: 20px;
    background: #007bff;
}
.text-muted i {
    margin-right: 10px;
    font-size: 20px;
    color: #007bff;
    align-items: center;
}