<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/comment.css">
    <title>Comment</title>
</head>
<body>
    <div class="container">
        <!-- Post -->
        <div></div>

        <!-- Comment input -->
        <div class="comment-input">
            <textarea id="" cols="60" rows="5" placeholder="Comment . . ."></textarea>
            <br>
            <button class="btn btn-success">Send</button>
        </div>


        <!-- Jazilgan Commentlerdi shig'aratir -->
        <div class="comment-show">
            <p></p>
        </div>
    </div>
</body>
</html>