<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" th:href="@{/bootstrap.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/main.css}" type="text/css" />
    <title>Title</title>
</head>

<body class="card-view">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#" style="color: #b21f2d">Anonymous Posting</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/posting}"> Create <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/createUser}"> User </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"> About </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<form>
    <h1 class="text-danger"> Create User </h1>
    <div class="form-group">
        <label>
            <input type="text" class="form-control" name="username" aria-describedby="" placeholder="Enter Username">
        </label>
        <small id="emailHelp" class="form-text text-muted text-light">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </label>
        <label>
            <input type="password" class="form-control" name="prePassword" placeholder="PrePassword">
        </label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-outline-danger">Submit</button>
</form>
<br>
<form>
    <h1 class="text-danger"> If you have an User </h1>
    <div class="form-group">
        <label for="exampleInputEmail2">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp1" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label>
            <input type="password" class="form-control" name="inPassword" placeholder="Password">
        </label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck2">Check me out</label>
    </div>
    <button type="submit" class="btn btn-outline-danger">Submit</button>
</form>
</body>

</html>