<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" th:href="@{/bootstrap.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/main.css}" type="text/css" />
    <title>Title</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#" style="color: #b21f2d">Anonymous Posting</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/posting}"> Create <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/createUser}"> User </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"> About </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="card-view">
    <h1 th:text="${text}"></h1>
    <form class="card-view" th:action="@{/newPost}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="sign">
                <input type="text" name="title" id="inputGroup-sizing-lg" placeholder="Title"></input>
                <div>
                    <input type="text" name="login" placeholder="login">
                    <input type="password" name="parol" placeholder="password">
                </div>
            </div>
            <textarea class="form-control" th:text="${text}" name="textarea" rows="12"></textarea>
        </div>
        <div class="custom-file">
            <input type="file" name="file" class="custom-file-input">
            <label class="custom-file-label">Choose file</label>
        </div>
        <div style="margin-top: 20px">
            <input class="custom-file btn-danger my-2 my-sm-0" type="submit">
        </div>
    </form>
</div>
</body>

</html>