<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/main.css}" type="text/css"/>
    <title>Title</title>
</head>
<body class="card-view">
<form class="card-view" th:action="@{/newPost}">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Type to post</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="12"></textarea>
    </div>
    <div class="custom-file">
        <label for="exampleFormControlTextarea1"> Select photo for description </label>
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <div style="margin-top: 20px">
        <input class="custom-file btn-outline-danger my-2 my-sm-0" type="submit">
    </div>
</form>
</body>
</html>