<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap.js">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/main.css">
    <link th:href="@{/bootstrap.js}" />
    <link rel="stylesheet" th:href="@{/icon/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/bootstrap.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/main.css}" type="text/css" />
    <title>Title</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#" style="color: #b21f2d">Anonymous Posting</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/posting}"> Create <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/createUser}"> User </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"> About </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="card-view">
        <div class="card-deck" >
            <div class="card" th:each="post: ${posts}">
                <img class="card-img-top" th:src="@{'/getImage/'+${post.imageName}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${post.title}">title</h5>
                    <p class="card-text" th:text="${post.postText}">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <i class="bi bi-heart bi-heart-fill"></i>
                        <i class="bi bi-chat-dots"></i>
                        <button class="btn btn-outline-primary">View</button>
                    </small>
                </div>
            </div>
        </div>
    </div>
</body>

</html>