<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/view.css">
    <link rel="stylesheet" th:href="@{/bootstrap.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/view.css}" type="text/css" />
    <title>Title</title>
</head>

<body>
    <div class="container">
        <h1 class="card-title" th:text="${title}">Post Title</h1>
        <div class="card-img">
            <img th:src="@{'/getImage/'+${imageName}}" alt="">
        </div>
        <div class="card-com">
            <div class="card-text">
                <p th:text="${main}">
                </p>
            </div>
        </div>
    </div>
</body>

</html>